* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #e6b6bc;
}

/*navbar start*/
.main-content {
   height: 400px;
   width: 400px;
   border: solid 0.5px #ea4c89;
   border-radius: 10px;
   padding: 10px;
   box-shadow: grey 0 0 5px 1px;
   margin: 15px;
   flex-wrap: wrap;

}

nav {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 72px;
   background: #ea4c89;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 50;
   width: 100%;
}

.logo {
   display: flex;
   justify-content: center;
}

.logo img {
   height: 80px;
   margin-right: 20px;
}

.project-title {
   font-size: 30px;
   color: white;
   margin-left: 0;
   display: block;
   margin-top: 20px;
   font-weight: bold;
}

nav ul {
   display: flex;
   justify-content: center;
}

.nav-content {
   text-decoration: none;
   margin: 30px;
   color: white;
   font-size: 30px;
   font-weight: bold;
   font-family: 'gabriola';
}

#event {
   border: none;
   background-color: #ea4c89;
   color: white;
   font-size: 30px;
   margin-top: 10px;
   font-weight: bold;
   font-family: 'gabriola';
}

/*Navbar End*/

.main-container1 {
   background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../images/haldi.jpg);
   opacity: 0.9;
   background-size: cover;
   /* border: 1px solid black; */
   opacity: 0.9;
   height: 700px;
   width: 100%;
}

.heading-text {
   color: white;
   /* color: rgb(141, 135, 27); */
   /* text-align: center; */
   text-align: center;
   font-size: 50px;
   position: relative;
   top: 150px;
   font-family: 'gabriola';;


}

.heading-text1 {
   font-size: 40px;
   margin-top: 150px;
   color: white;
   font-family: Georgia;

}

.sub-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   position: relative;
}

.halad-img {
   height: 300px;
   margin-top: 230px;
   border-radius: 15px;
   box-shadow: 0 0 1px 2px yellow;

}

.halad-img:hover {
   height: 350px;
   transition: 2s;

}

/* ---------- section service---------------- */
.title h1 {
   text-align: center;
   font-size: 60px;
   /* font-size: 2.5rem; */
   letter-spacing: 0.2rem;
   margin-top: 5rem;
   color: deeppink;
   font-family: 'gabriola';
}


.title p {
   font-size: 1.8rem;
   font-weight: 600;
   color: black;
}

.service-row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.service-col {
   height: 29rem;
   color: aqua;
   background: url(../images/bottom-border-made-with-decorated-flowers-pink-background_23-2147925499.jpg);
   background-color: rgb(243, 239, 240);
   background-position: center;
   background-size: cover;
   border-radius: 13px;
   flex: 1 1 25rem;
   padding: 1.0rem;
   margin: 2rem;

}

.service-col i {
   border: none;
   background: aliceblue;
   color: brown;
   border-radius: 2rem;
   font-size: 3rem;
   padding: 12px;
}

.service-col h2 {
   padding: 1rem 0;
   font-size: 2rem;
   color: rgb(13, 2, 2);
   margin-top: 2rem;
}

.service-col p {
   font-size: 1.2rem;
   color: black;
   margin-top: 2rem;
   font-family: 'gabriola';

}

.img-decoration {
   height: 1px;
}

.text-service {}

.btn-service {

   margin-left: 30%;
   margin-top: 0px;
   background-color: #ae5679;
   border-radius: 10px;
   height: 45px;
   width: 180px;
   font-size: 30px;
   color: white;
   padding: 5px;
   
   opacity: 0.6;

}

.btn-service:hover {
   box-shadow: 0 0 1px 2px;
   transition: 1s;
   background-color: #69042c;
   height: 50px;
   width: 190px;
   opacity: 1.2;
}

/* ----------------------DECORATION--------------------------- */

.title {
   text-align: center;
   font-size: 2.5rem;
   letter-spacing: 0.5rem;
   margin-top: 5rem;
   color: black;
   font-family: 'gabriola';
}

.title p {
   font-size: 1.8rem;
   font-weight: 600;
   color: black;
   font-family: 'gabriola';
}

.decoration-row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.decoration-col1 {
   height: 29rem;
   color: aqua;
   background-color: rgb(245, 243, 243);
   background-position: center;
   background-size: cover;
   border-radius: 15px;
   /* flex: 1 1 2rem; */
   width: 50%;
   display: flex;
   flex-direction: column;
   padding: 0.5rem;
   margin: 1.5rem;
   text-align: center;
   font-family: 'gabriola';
}

.decoration-col {
   height: 33rem;
   color: black;
   background-color: rgb(243, 239, 240);
   background-position: center;
   background-size: cover;
   border-radius: 15px;
   flex: 1 1 25rem;
   padding: 1.0rem;
   display: flex;
   flex-direction: column;
   margin: 1.0rem;
   font-family: 'gabriola';
}

.img-deco {
   height: 420px;
   /* width: 680px; */
   padding: 0%;
   border: 0;
   border-color: black;
   align-items: center;
   border-radius: 10px;


}

.uniq-deco {
   text-align: center;
   font-size: 30px;
   font-weight: 600;
   padding: 10px;
   padding-top: 10px;
   font-family: 'gabriola';
   /* background-color: white; */
   /* border-top: 7px dotted rgb(115, 71, 153); */
}

.imgtop {
   height: 465px;
}

.text {
   text-align: center;
   font-family: 'gabriola';
   /* background-color:white; */
   padding: 5px;
   /* border-bottom: 7px dotted rgb(115, 71, 153); */
}

.img-deco2 {
   height: 390px;
   width: 440px;
   border-radius: 10px;
   align-items: center;
}


.decoration-col .deco-mar {
   margin-left: 1rem;
}

.decoration-col h2 {
   padding: 1rem 0;
   font-size: 2rem;
   color: rgb(13, 2, 2);
   margin-top: 17rem;
   margin-left: 6rem;

}

.deco-name {
   margin-top: 7rem;
   color: black;
   font-weight: 600;
   font-size: 2rem;
   font-family: 'gabriola';

}

.img-icon {
   height: 3rem;
   top: 0.5rem
}

/* 
 -------------------section photography----------------- */

.title {
   text-align: center;
   font-size: 2.5rem;
   letter-spacing: 0.5rem;
   margin-top: 5rem;
   color: black;
   font-family: 'gabriola';
}



.collage-div {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-evenly;

   top: 120px;
}

.photo-row {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/ph.jpg);
   opacity: 0.7;
   background-size: cover;
   /* border: 1px solid black; */
   opacity: 0.9;
   height: 620px;
   width: 460px;
   align-items: center;
   border-radius: 10px;
   list-style: none;
   margin-top: 60px;
}

.photo-text1 {

   font-size: 50px;
   margin-top: 100px;
   font-family: 'gabriola';

}

.text-photo2 {
   text-align: center;
   font-size: 20px;
   font-weight: 500;
   color: gold;
   list-style: none;

}


.collage-img {
   height: 270px;
   width: 380px;
   margin-top: 65px;
   border: 1px solid #ff0066;
   box-shadow: 0 0 5px 3px #ff99c2;
}

.bor-radius-10 {
   border-radius: 10px;
}

/* ---------------------section
 jwellery--------------------------- */
.decoration-row {
   flex-wrap: wrap;
}

/* ----------------section mehendi------------------------------ */

.main-container-m {

   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin-right: 300px;
   margin-top: 20px;

   /* flex-wrap: wrap; */

}

.sub-container-m {
   height: 330px;
   width: 400px;
   background-color: white;
   border-radius: 5px;

}

.img-mehandi {
   height: 310px;
   width: 380px;
   align-items: center;
   margin-left: 10px;
   margin-top: 10px;
   border-radius: 5px;
}

.text-m {
   background: linear-gradient(to right, rgb(65, 6, 27), rgb(189, 162, 10));
   color: white;
   font-size: 30px;
   font-family: 'gabriola';
   padding: 10px;
   overflow: hidden;
}



.remove-margine {
   margin: 0%;
   margin-left: 300px;
}

.main-container-m {
   flex-wrap: wrap;
}

.increase-h {
   height: 420px;
}

.img-m1 {
   height: 400px;
}

.text-m2 {
   height: 450px;
}

.img-card {
   height: 360px;
   width: 425px;
   padding: none;
   background-image: none;
   border-radius: 10px;
}

.card-removebg {
   background-image: none;
}

/* }-----------------------------section cards------------------ */
.imgcards{
   height:470px;
   width: 400px;
}

/* --------------------section sound------------ */
.dj-photo {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/ph.jpg);
   opacity: 0.7;
   background-size: cover;
   /* border: 1px solid black; */
   opacity: 0.9;
   height: 620px;
   width: 460px;
   align-items: center;
   border-radius: 10px;
   list-style: none;
   
}

/*Footer section start*/
footer {
   background: #08192b;
   padding-bottom: 20px;

}

.row {
   display: flex;
   flex-wrap: wrap;
   padding-inline: 20px;
}

.footer-col {
   width: 25%;

}

.footer-col h4 {
   font-size: 27px;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   margin-bottom: 30px;
   margin-top: 37px;
   font-weight: bold;
}

.footer-col span {
   font-size: 27px;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   margin-bottom: 20px;
   margin-top: 33px;
   font-weight: bold;
}

.footer-logo {
   height: 65px;
   margin-right: 10px;
   margin-top: 0;
   margin-bottom: 20px;
}

.footer-logo-heading {
   display: flex;
   align-items: center;
   
}

.footer-col ul li {
   margin-bottom: 15px;
}

.footer-col ul li a {
   font-size: 20px;
   text-decoration: none;
   color: white;
   font-weight: 200;
   font-family: Arial, Helvetica, sans-serif;
}

.social-links a {
   font-size: 27px;
   color: white;
   margin-right: 30px;
   text-align: center;
   border-radius: 50%;
}

.fa-icon {
   font-size: 20px;
   color: white;
   margin-right: 10px;

}

.service-text {
   font-size: 20px;
   padding-right: 100px;
   padding-left: 15px;
   text-align: left;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px) {
   .footer-col {
      width: 50%;
      margin-bottom: 20px;
   }
}

@media screen and (max-width: 599px) {
   .footer-col {
      width: 100%;
      margin-bottom: 20px;
   }

}

/*Footer section End*/


@media screen and (max-width: 800px) {
   .heading-text {
      text-align: center;
      font-size: 20px;
   }

   .halad-img {
      height: 222px;
      width: 320px;
      margin-left: 2px;
   }

   .halad-img:hover {
      height: 228px;
      width: 330px;
      transition: 2s;
   }


   .heading-text {
      font-size: 35px;
   }

   .heading-text1 {
      margin-top: 340px;
      margin-right: 5px;
      font-size: 20px;
   }

   .main-container1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../images/haldi.jpg);
      opacity: 0.9;
      background-size: cover;
      /* border: 1px solid black; */
      opacity: 0.9;
      height: 700px;
      width: 100%;
   }
}
/* ---------------section service-------- */
@media screen and (max-width: 800px)
{
.service-col p {
   font-size: 1.5rem;
   color: black;
   margin-top: 2rem;
   font-family: 'gabriola';
}
.decoration-col1 {
   height: 22rem;
}
.imgtop {
   height: 352px;
}
.img-deco2 {
   height: 390px;
   width: 440px;
   border-radius: 10px;

}
.decoration-col {
   height: 34rem;
   color: black;
   background-color: rgb(243, 239, 240);
   background-position: center;
   background-size: cover;
   border-radius: 15px;
   flex: 0 1 25rem;
   padding: 1rem;
   display: flex;
   flex-direction: column;
   margin: 1rem;
   font-family: 'gabriola';

}
.sub-container-m {
   height: 286px;
   width: 231px;
   justify-content: space-around;
}
.sub-container-m {
   height: 286px;
   width: 231px;
}
.img-m1 {
   height: 267px;
   width: 213px;
}
.img-mehandi {
   height: 268px;
   width: 216px;
   
}
.service-col{
   flex:none ;
}
}