* {
    margin: 0;
    padding: 0;
 }
 
  body {
    background-color: rgb(247, 195, 203);
    padding-right: 0;
 }
 
 .main-container {
    width: 100vw;
 }
 
 nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    background-color: palevioletred;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
    width: 100%;
 }
 
 .logo {
    display: flex;
    justify-content: center;
 }
 
 .logo img {
    height: 80px;
    margin-right: 20px;
 }
 
 .project-title {
    font-size: 40px;
    color: white;
    margin-left: 0;
    display: block;
    margin-top: 20px;
 }
 
 nav ul {
    display: flex;
    justify-content: center;
 
 }
 
 .nav-content {
    text-decoration: none;
    margin: 30px;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
 }
 #event {
    font-size: 25px;
    border: none;
    background-color: palevioletred;
    color: white;
    
 }
 
 .main-container1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../images/haldi.jpg);
    opacity: 0.9;
    background-size: cover;
    /* border: 1px solid black; */
    opacity: 0.9;
    height: 700px;
    width: 100%;
 }
 
 .heading-text {
    /* color: white; */
    color:rgb(141, 135, 27);
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 150px;
 
 }
 
 .heading-text1 {
    font-size: 40px;
    margin-top: 20px;
    font-family: Georgia
 }
 
 .sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
 }
 
 .halad-img {
    height: 300px;
    margin-top: 230px;
    border-radius: 15px;
    box-shadow: 0 0 1px 2px yellow;
 }
 
 .halad-img:hover {
    height: 350px;
    transition: 2s;
 
 }
 
 /* ---------- section service---------------- */
 .title h1 {
    text-align: center;
    /* font-size: 2.5rem; */
    letter-spacing: 0.2rem;
    margin-top: 5rem;
    color: deeppink;
 }
 
 .title span {
    color: rgb(17, 0, 72);
    font-size: 4rem;
 }
 
 .title p {
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
 }
 
 .service-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
 }
 
 .service-col {
    height: 22rem;
    color: aqua;
    background: url(../images/bottom-border-made-with-decorated-flowers-pink-background_23-2147925499.jpg);
    background-color: rgb(243, 239, 240);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex: 1 1 25rem;
    padding: 1.0rem;
    margin: 1.5rem;
 
 }
 
 .service-col i {
    border: none;
    background: aliceblue;
    color: brown;
    border-radius: 2rem;
    font-size: 3rem;
    padding: 12px;
 }
 
 .service-col h2 {
    padding: 1rem 0;
    font-size: 2rem;
    color: rgb(13, 2, 2);
    margin-top: 2rem;
 }
 
 .service-col p {
    font-size: 1.2rem;
    color: black;
    margin-top: 4rem;
 
 }
 
 .img-decoration {
    height: 1px;
 }
 
 
 /* ----------------------DECORATION--------------------------- */
 
 .title {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    margin-top: 5rem;
    color: black;
 }
 
 .title span {
    color: red;
    font-size: 4rem;
 }
 
 .title p {
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
 }
 
 .decoration-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
 }
 
 .decoration-col1 {
    height: 28rem;
    color: aqua;
    background-color: rgb(245, 243, 243);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    /* flex: 1 1 2rem; */
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1.5rem;
    text-align: center;
 }
 
 .decoration-col {
    height: 33rem;
    color: black;
    background-color: rgb(243, 239, 240);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    flex: 1 1 25rem;
    padding: 1.0rem;
    display: flex;
    flex-direction: column;
    margin: 1.0rem;
 }
 
 .img-deco {
    height: 440px;
    /* width: 680px; */
    padding: 0%;
    border: 0;
    border-color: black;
    align-items: center;
    border-radius: 10px;
 
 
 }
 
 .uniq-deco {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    padding-top: 10px;
    background-color: antiquewhite;
    /* border-top: 7px dotted rgb(115, 71, 153); */
 }
 
 .text {
    text-align: center;
    background-color: antiquewhite;
    padding: 5px;
    /* border-bottom: 7px dotted rgb(115, 71, 153); */
 }
 
 .img-deco2 {
    height: 380px;
    width: 440px;
    border-radius: 10px;
    align-items: center;
 }
 
 
 .decoration-col .deco-mar {
    margin-left: 1rem;
 }
 
 .decoration-col h2 {
    padding: 1rem 0;
    font-size: 2rem;
    color: rgb(13, 2, 2);
    margin-top: 17rem;
    margin-left: 6rem;
 
 }
 
 .deco-name {
    margin-top: 7rem;
    color: black;
    font-weight: 600;
    font-size: 2rem;
 
 }
 
 .img-icon {
    height: 3rem;
    top: 0.5rem
 }
 
 /* 
 -------------------section photography----------------- */
 
 .title {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    margin-top: 5rem;
    color: black;
 }
 
 .title span {
    color: red;
    font-size: 4rem;
 }
 
 .photo-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 }
 
 .photo-col {
    height: 37rem;
    color: aqua;
    background-color: rgb(248, 248, 248);
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    /* flex: 1 1 2rem; */
    width: 28%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1.5rem;
    text-align: center;
 }
 
 .photo-row {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(../images/haldi.jpg);
    opacity: 0.9;
    background-size: cover;
    /* border: 1px solid black; */
    opacity: 0.9;
    height: 700px;
    width: 460px;
    align-items: center;
    border-radius: 10px;
 }
 .photo-text{
    margin: 60px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     list-style: none;
 }
 /* ---------------------section
 jwellery--------------------------- */
 
 /* ----------------section mehendi------------------------------ */
 .f-change{
   font-family: 'Dancing Script', cursive;
}
.main-container-m{
   margin-top: 20px;
   display: flex;
   justify-content: space-evenly;
   margin-right: 300px;
   /* flex-wrap: wrap; */
   
}
.sub-container-m{
   height: 330px;
   width: 400px;
   background-color: white;
   border-radius: 5px;
 
}
.img-mehandi{
   height:310px;
   width: 380px;
   align-items: center;
   margin-left: 10px;
   margin-top:10px;
   border-radius: 5px;
}
.text-m{
   background-color: rgb(247, 195, 203);
   color: black;
   font-size: 30px;
   font-family: 'Dancing Script', cursive;

}
.remove-margine{
   margin: 0%;
   margin-left: 300px;
}
.increase-h{
   height: 420px;
}
.img-m1{
    height:400px;
}