* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #e6b6bc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    flex-wrap: wrap;
    background-color: #103f71;
    width: 450px;
    height: 550px;
    border-radius: 20px;
    /* box-shadow: 1px 1px 1px 2px black; */
}

.img {
    height: 200px;
    border-radius: 30px;
}

.form-control-input {
    width: 400px;
    margin-top: 30px;
    height: 40px;
    border: none;
    background-color: rgb(245, 228, 228);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ea4c89;
}

.btn {
    margin-top: 28px;

}

.login-btn {
    background-color: #ea4c89;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid black;
}

.top-heading {
    text-align: center;
    font-size: 50px;
    color: #ea4c89;
    font-family: 'gabriola';
}

.signin-heading {
    text-align: center;
    color: white;
}

.account-heading {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.pass {
    text-align: center;
    margin-top: 10px;
}

a{
    color:rgb(234, 150, 234);
    text-decoration: none;
}