*{
    margin: 0;
    padding: 0;
}
nav
{
    height: 60px;
}
body
{
    background-color: #f9ebee;
   
}
.main-image{

background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),url('../images/haldi/Yellow-Haldi-Dress-for-Bride.jpg');

    background-repeat: no-repeat;
    opacity: 0.9;
    background-size: 1320px 800px ;
    height: 800px;
}
.main-heading
{
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
    font-size: 55px;
    position: relative;
    top: 20px;
}
.haldi-img
{
    
}
.pakeges-name
{
    text-align: center;
    font-size: 40px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 2px silver;
}
.pakeges
{
 display: flex;
 justify-content:space-evenly;
 
}
.pakeges-card
{
    height: 400px;
    width: 350px;
    background-color: #ffcce6;
    background-image:url(../images/bg-img2.jpg) ;
    border-radius: 10px;
    


}
.highlight{
    color: #ff33cc;
}
