* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e6b6bc;
}

/*navbar start*/
.main-content {
    height: 400px;
    width: 400px;
    border: solid 0.5px #ea4c89;
    border-radius: 10px;
    padding: 10px;
    box-shadow: grey 0 0 5px 1px;
    margin: 15px;
    flex-wrap: wrap;
 
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    background: #ea4c89;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 80px;
    margin-right: 20px;
}

.project-title {
    font-size: 30px;
    color: white;
    margin-left: 0;
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
}

.nav-content {
    text-decoration: none;
    margin: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'gabriola';
}

#event {
    border: none;
    background-color: #ea4c89;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'gabriola';
}
/*Navbar End*/

.cover-page {
    height: 90vh;
    width: 100%;
    margin-top: 60px;
    background-image: url("./../images/cover-page.jpg");
    background-size: 100%;


}

.heading-top {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 90px;
    font-family: 'gabriola';


}

.card-cover {
    color: white;
    width: 800px;
    position: relative;
    top: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 0 auto;
}

.text {
    text-decoration: none;
}

p {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: 'gabriola';

}

/*Card section start*/

.top-head{
    text-align: center;
    margin-top: 10px;
    color: #cf2a69;
    font-size: 60px;
    font-family: 'gabriola';
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.wedding-img {
    height: 250px;
    display: block;
    margin: 0 auto;
}

.package-btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: #ea4c89;
    z-index: 1;
}

.package-btn:hover:after {
    width: 100%;
    left: 0;
}

.package-btn:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
    background-color: #ea4c89;
    right: 0;
}

.package-btn:active {
    top: 2px;
}

.wed-heading {
    text-align: center;
    margin-top: 10px;
    font-family: 'gabriola';
    font-size: 35px;
}
/*Card section end*/

/*Contact US Section Start*/
.contactus{
    height: 400px;
    width: 1000px;
    background-color: #feaea3;
    margin: 0 auto;
    margin-bottom: 30px;
border-radius: 20px;
}



/*Contact US Section End*/




/*Footer section start*/
footer {
    background: #08192b;
    padding-bottom: 20px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-inline: 20px;
}

.footer-col {
    width: 25%;

}

.footer-col h4 {
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 30px;
    margin-top: 37px;
    font-weight: bold;
}

.footer-col span {
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 20px;
    margin-top: 33px;
    font-weight: bold;
}

.footer-logo {
    height: 65px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

.footer-logo-heading {
    display: flex;
    align-items: center;
}

.footer-col ul li {
    margin-bottom: 15px;
}

.footer-col ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.social-links a {
    font-size: 27px;
    color: white;
    margin-right: 30px;
    text-align: center;
    border-radius: 50%;
}

.fa-icon {
    font-size: 20px;
    color: white;
    margin-right: 10px;

}

.service-text {
    font-size: 20px;
    padding-right: 100px;
    padding-left: 15px;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 800px) {
    .footer-col {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 599px) {
    .footer-col {
        width: 100%;
        margin-bottom: 20px;
    }

}

/*Footer section End*/