* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e6b6bc;
}

.cover-page {
    height: 90vh;
    width: 100%;
    margin-top: 60px;
    background-image: url("./../images/cover-page.jpg");
    background-size: 100%;


}

.heading-top {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: 90px;
    font-family: 'gabriola';


}

.card-cover {
    color: white;
    width: 800px;
    /* margin-top: 50px; */
    position: relative;
    top: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 0 auto;
}

.text {
    text-decoration: none;
}

p {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: 'gabriola';

}

.btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    /* background-color: rgb(239, 43, 43); */
    background-color: #cf2a69;
    color: white;
    padding: 8px;
    border: none;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    /* background: linear-gradient(to right, #db7093, #ceab1d); */
    background: #ea4c89;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 80px;
    margin-right: 20px;
}

.project-title {
    font-size: 40px;
    color: white;
    margin-left: 0;
    display: block;
    margin-top: 20px;
}

nav ul {
    display: flex;
    justify-content: center;

}

.nav-content {
    text-decoration: none;
    margin: 30px;
    color: white;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
}

#event {
    font-size: 23px;
    border: none;
    background-color: rgb(135, 115, 2);
    color: white;

}

.circular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.logo-heart {
    margin-top: 10px;
    margin-left: 10px;
}

.logo-diamond {
    margin-top: 20px;
    border-bottom: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    /* background: linear-gradient(to right, #db7093, #ceab1d); */
    background: #ea4c89;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: 80px;
    margin-right: 20px;
}

.project-title {
    font-size: 30px;
    color: white;
    margin-left: 0;
    display: block;
    margin-top: 20px;
}

nav ul {
    display: flex;
    justify-content: center;

}

.nav-content {
    text-decoration: none;
    margin: 30px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#event {
    font-size: 20px;
    border: none;
    background-color: #ea4c89;
    color: white;
}

.circular-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.logo-heart {
    margin-top: 10px;
    margin-left: 10px;
}

.logo-diamond {
    margin-top: 20px;
    border-bottom: 0;
}

.top-head{
    text-align: center;
    margin-top: 10px;
    color: #cf2a69;
    font-size: 60px;
    font-family: 'gabriola';
}

.main-content {
    height: 400px;
    width: 400px;
    border: solid 0.5px #ea4c89;
    border-radius: 10px;
    padding: 10px;
    box-shadow: grey 0 0 5px 1px;
    margin: 15px;
    flex-wrap: wrap;
 
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}


.wedding-img {
    height: 250px;
    display: block;
    margin: 0 auto;
}

.package-btn {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    background: #ea4c89;
    z-index: 1;
}

.package-btn:hover:after {
    width: 100%;
    left: 0;
}

.package-btn:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
    background-color: #ea4c89;
    right: 0;
}

.package-btn:active {
    top: 2px;
}

.wed-heading {
    text-align: center;
    margin-top: 10px;
    font-family: 'gabriola';
    font-size: 35px;
}


